<div class="work-experience-div col-md-12 col-sm-12 co-xs-12 col-lg-12" exp_id="">
	<label class="col-md-3 col-sm-3">Document</label>
	<div class="col-md-8 col-sm-6">
		<input type="file" name="" class="form-control document">
	</div>
	<div class="col-sm-12 col-md-12"></div>

	<label class="col-md-3 col-sm-3">Description</label>
	<div class="col-md-8 col-sm-6 margin-bottom-small">
		<textarea class="form-control description document-description" placeholder="Brief description of the document"></textarea>
	</div>
</div>