<div class="col-md-1 col-sm-1 hidden-xs"></div>
<div class="col-md-9 col-sm-9 col-xs-12 margin-bottom-20">
	<div class="col-md-12 col-sm-12 col-xs-12 text-center margin-bottom-10">
		<h3>Employer Dashboard</h3>
		<img src="{{ user_profile.company_logo_thumb|default:"/static/img/employer_logo.png" }}" class="center img-responsive center-desktop margin-bottom-10">
	</div>
	<div class="col-md-12 col-sm-12 col-xs-12">
	  <!-- Nav tabs -->
	  <ul id="tabs" class="nav nav-tabs" role="tablist">
	    <li role="presentation" class="active"><a href="#job-posting" aria-controls="job-posting" role="tab" data-toggle="tab">Job Posting</a></li>
	    <!--<li role="presentation"><a href="#candidates" aria-controls="candidates" role="tab" data-toggle="tab">Candidates</a></li>
	    <li role="presentation"><a href="#company-profile" aria-controls="company-profile" role="tab" data-toggle="tab">Company Profile</a></li> -->
	  </ul>
	  <a href="#" class="btn pull-right orange-btn" style="margin-top: -42px;">Post a Job</a>

	  <!-- Tab panes -->
	  <div class="tab-content">
	    <div role="tabpanel" class="tab-pane active" id="job-posting">
	    	<div class="col-md-12 col-sm-12 col-xs-12 margin-top-20">
	    		<p>{{ user_profile.jobs_counter }} JOB POSTING</p>
	    		{% for job in user_profile.jobs.all %}
	    		{% if job.active %}
	    		<div class="row {% cycle 'light-grey-bg' '' %} padding-top-10">
	    			<div class="col-md-3 col-sm-3 col-xs-3">
	    				<a href="{% url "view_job" job.id %}">{{ job.job_title }}</a>
	    				<p class="{{ job.status_class }}">{{ job.check_status }}</p>
	    			</div>
	    			<div class="col-md-3 col-sm-3 col-xs-3">
	    				<p>Expires {{ job.end_date }}</p>
	    			</div>
	    			<div class="col-md-3 col-sm-3 col-xs-3">
	    				<p>{{ job.views }} Views</p>
	    			</div>

	    			<div class="col-md-3 col-sm-3 col-xs-3">
	    				<p>{{ job.job_matches }} Matches</p>
	    			</div>
	    		</div>
	    		{% endif %}
	    		{% endfor %}
	    		
	    	</div>
	    </div>
	    <div role="tabpanel" class="tab-pane" id="candidates">

	    </div>
	    <div role="tabpanel" class="tab-pane" id="company-profile">
	    	<div class="col-md-12 col-sm-12 col-xs-12 margin-top-20">
	    		<p><span class="bold">Company Name:</span> {{ profile.company_name }}</p>
	    		<p><span class="bold">Company Size:</span> {{ profile.company_size }}</p>
	    	</div>
	    </div>
	  </div>

	</div>
</div>
	