<div class="work-experience-div col-md-12 col-sm-12 co-xs-12 col-lg-12" exp_id="">
	<label class="col-md-3 col-sm-3">Language</label>
	<div class="col-md-8 col-sm-6">
		<select class="selectpicker language" title="Select a language">
			<option></option>
			<option>English</option>
			<option>Swahili</option>
			<option>Māori</option>
			<option>Afrikaans</option>
			<option>Arabic</option>
			<option>Bahasa Indonesian</option>
			<option>Chinese - Cantonese</option>
			<option>Chinese - Mandarin</option>
			<option>Cook Islands Maori</option>
			<option>Dutch</option>
			<option>French</option>
			<option>German</option>
			<option>Greek</option>
			<option>Hindi</option>
			<option>Italian</option>
			<option>Japanese</option>
			<option>Korean</option>
			<option>Malaysian</option>
			<option>Portuguese</option>
			<option>Russian</option>
			<option>Samoan</option>
			<option>Spanish</option>
			<option>Thai</option>
			<option>Tongan</option>
			<option>Vietnamese</option>
			<option value="new">Other</option>
		</select>
		<div class="col-md-12 col-sm-12 job-seeker-content-spacing"></div>
		<input type="text" name="" class="form-control job-seeker-content-spacing hidden new-language" placeholder="Please Specify">
	</div>
	<div class="col-md-12 col-sm-12 job-seeker-content-spacing"></div>

	<label class="col-md-3 col-sm-3">Reading Level</label>
	<div class="col-md-8 col-sm-6">
		<select class="selectpicker reading-level" title="Select One">
			<option></option>
			<option>Fluent</option>
			<option>Advanced</option>
			<option>Fair</option>
			<option>Minimal</option>
			<option>None</option>
		</select>
	</div>
	<div class="col-md-12 col-sm-12 job-seeker-content-spacing"></div>

	<label class="col-md-3 col-sm-3">Writing Level</label>
	<div class="col-md-8 col-sm-6">
		<select class="selectpicker writing-level" title="Select One">
			<option></option>
			<option>Fluent</option>
			<option>Advanced</option>
			<option>Fair</option>
			<option>Minimal</option>
			<option>None</option>
		</select>
	</div>
	<div class="col-md-12 col-sm-12 job-seeker-content-spacing"></div>

	<label class="col-md-3 col-sm-3">Verbal Level</label>
	<div class="col-md-8 col-sm-6">
		<select class="selectpicker verbal-level" title="Select One">
			<option></option>
			<option>Fluent</option>
			<option>Advanced</option>
			<option>Fair</option>
			<option>Minimal</option>
			<option>None</option>
		</select>
	</div>
	<div class="col-md-12 col-sm-12 job-seeker-content-spacing"></div>

</div>