<div class="work-experience-div link-form col-md-12 col-sm-12 co-xs-12 col-lg-12" exp_id="">
	<label class="col-md-3 col-sm-3">Link</label>
	<div class="col-md-8 col-sm-6">
		<input type="text" name="" class="form-control link">
		<p class="error-message hidden invalid-link">Invalid Link: make sure to start link with http:// or https://</p>
	</div>
	<div class="col-sm-12 col-md-12"></div>

	<label class="col-md-3 col-sm-3">Description (Optional)</label>
	<div class="col-md-8 col-sm-6 margin-bottom-small">
		<textarea class="form-control description link-description" placeholder="Brief description of the link content"></textarea>
	</div>
</div>