<div class="work-experience-div col-md-12 col-sm-12" exp_id="">
	<label class="col-md-3 col-sm-3 font-normal">Company Name: </label>
	<div class="col-md-6 col-sm-6">
		<input type="text" name="" class="form-control company-name" placeholder="">
	</div>
	<div class="col-md-12 col-sm-12 job-seeker-content-spacing"></div>

	<label class="col-md-3 col-sm-3 font-normal">Job Title: </label>
	<div class="col-md-6 col-sm-6">
		<input type="text" name="" class="form-control job-title" placeholder="">
	</div>
	<div class="col-md-12 col-sm-12 job-seeker-content-spacing"></div>	

	<label class="col-md-3 col-sm-3 font-normal">Responsibilities: </label>
	<div class="col-md-6 col-sm-6">
		<textarea class="form-control responsibility textarea-height"></textarea>
	</div>
	<div class="col-md-12 col-sm-12 job-seeker-content-spacing"></div>	

	<label class="col-md-3 col-sm-3 font-normal">Key Achievements: </label>
	<div class="col-md-6 col-sm-6">
		<textarea class="form-control achievements textarea-height"></textarea>
	</div>
	<div class="col-md-12 col-sm-12 job-seeker-content-spacing"></div>
</div>