{% extends 'base.html' %}

{% block title %}KaziLynk About Us{% endblock %}

{% block content %}
<div class="row pricing-div">
	<div class="col-md-12 col-sm-12 col-xs-12">
		<div class="col-md-12 col-sm-12 col-xs-12 text-center margin-top-20">
			<h1 class="margin-bottom-20">WHAT WE KNOW FOR SURE</h1>
			<p>People shouldn't <span class="italic">need</span> to work for you</p>
			<p>Neither should they <span class="italic">have</span> to work for you</p>
			<p>They should <span class="italic">want</span> to work for you</p>
			<p class="bottom-red-border-thick width-300px"></p>
		</div>
		<div class="col-md-12 col-sm-12 col-xs-12 text-center margin-top-20 padding-bottom-20 margin-bottom-20 about-us-mission">
			<h2>Our mission therefore is...</h2>
			<h2 class="bold">to connect opportunity with talent</h2>
		</div>
		<div class="col-md-12 col-sm-12 col-xs-12 margin-top-20 margin-bottom-20 text-center">
			<h3 class="bold">This is how we do it</h3>
			<p>We have designed a platform that uses today's technology to intelligently match people's skills and abilities with existing opportunities in the job market, we point a candidate to the right job, an employer to the roperly skilled candidate and a customer to the relevant service. Our * goal is to improve the quality of people's lives by helping them get matched with meaningful opportunities and talent so they can focus on producing outstanding results</p>

			<p class="bottom-red-border-thick"></p>

			<h3 class="bold margin-top-20">Why us?</h3>
			<p>We've been in your shoes, whether it was looking for the right job, a great hire or relevant customers. We understand your frustrations are know how to address them</p>
			<p>---</p>

			<p>Our credibility is paramount, we do not compromise on quality</p>
			<p>---</p>

			<p>We will customise our services accoording to your requirements</p>
			<p>---</p>

			<p>We've recruited the best people for our business and can do the same for yours</p>
			<p class="bottom-red-border-thick width-300px"></p>

			<p class="italic margin-top-20">Join our community and become part of the movement</p>
		</div>
	</div>
		
</div>
{% endblock %}