{% extends 'base.html' %}
{% load thumbnail %}

{% block title %}Edit Service: {{ service.service.name|default:"Rights to edit denied" }}{% endblock %}

{% block extra_css %}
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.1/css/bootstrap-select.min.css">
	<link rel="stylesheet" href="/static/css/bootstrap-datetimepicker.min.css">
	<link rel="stylesheet" href="/static/css/chosen.css">
	<link rel="stylesheet" type="text/css" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/flick/jquery-ui.css">
	<link href="/static/css/jquery.tagit.css" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="/static/css/intlTelInput.css">
{% endblock %}

{% block extra_js %}
    <script type="text/javascript" src="/static/js/intlTelInput.js"></script>
	<script type="text/javascript" src="/static/js/utils.js"></script>

	<!-- Latest compiled and minified JavaScript -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
	<script type="text/javascript" src="/static/js/bootstrap-datetimepicker.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.1/js/bootstrap-select.min.js"></script>
	<script type="text/javascript" src="/static/js/chosen.jquery.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
	{% if service %}
		<script type="text/javascript">
			$(function() { 

				var data = {
					'company-name': '{{ service.company_name }}',
					'email': '{{ service.email }}',
					'phone': '{{ service.phone }}',
					'website': '{{ service.company_website }}',
					'business-details': $('.biz-details').text(),
					'testimonial': '{{ service.testimonial }}',
					'price': '{{ service.price }}',
				};

				function fill_data(data) {
					$('.company-name').val(data['company-name']);
					$('.email').val(data['email']);
					$('.phone-no').val(data['phone']);
					$('.company-website').val(data['website']);
					$('.business-details').val(data['business-details']);
					$('.testimonial').val(data['testimonial']);
					$('.price-field').val(data['price']);

				}
				
				fill_data(data);
			});
		</script>
	{% endif %}
	<script type="text/javascript" src="/static/js/edit-service-script.js?v=1.0"></script>
{% endblock %}

{% block content %}
<div class="col-md-1 col-sm-1 hidden-xs">
	<span class="hidden biz-details">{{ service.business_details }}</span>
</div>
<div class="col-md-9 col-sm-10 col-xs-12 col-xs-11 register-div">
	{% if service %}
		<span class="hidden service-id">{{ service.id }}</span>
		<h3 class="text-center margin-bottom-20 col-xs-12 col-sm-12 col-md-12">Edit Service</h3>

		<div class="padding-sides">
			{% include 'snippets/service-form.html' %}
		</div>
		
		<div class="col-md-12 col-sm-12 col-xs-12 text-center margin-bottom-20 margin-top-20">
			<button class="btn orange-btn save-service">Save Service</button>
			<a href="{% url 'upload-new' %}" class="btn orange-btn" style="margin-left: 10px;">Attachments</a>
		</div>

		<div class="col-sm-12 col-md-12 col-xs-12">
			<div class="col-md-12 text-center">
				<i class="fa fa-circle-o-notch fa-spin loading hidden" aria-hidden="true"></i>
			</div>
			<p class="missing-field error-message hidden">Please fill out missing fields in red above.</p>
			<p class="hidden error-message small-padding-left response-error">Sorry there seems to be an issue connecting to the server. Please try again later.</p>
	    	<p class="server-error-message hidden error-message"></p>
	    	<p class="complete-message hidden soft-green">Update Complete</p>
		</div>
	{% else %}
		<p>We've received a request to edit a service which either doesn't exist or you're not the service's author therefore can't edit it. If you feel this is incorrect you can contact <a href="mailto:support@kazilynk.com">support@kazilynk.com</a></p>
	{% endif %}
</div>

{% endblock %}