{% extends 'base_r.html' %}
{% load staticfiles %}

{% block content %}
    <div id="inner-page">
        <div class="jumbotron inner">
            <h1>Get Top Employees in Kenya</h1>
            <p>You end up doing what you WANT to do as opposed to doing what you HAVE to do.</p>
            <p><a class="btn btn-primary" role="button" href="#">+254 777 777</a></p>
        </div>
    </div>
    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h1 class="edit">ALREADY HAVE AN ACCOUNT? LOGIN</h1><div>
    <form method="post">
<strong style="color:black">OR</strong>
<p style="color:black">REGISTER AS A JOB SEEKER FOR FREE</p>
<p style="color:black">Get matched with the job that callsfor your talents qualifications</p>
<div class="form-group"><input type="input" name="full_name" placeholder="Full Name*" class="form-control" /></div>
<div class="form-group"><input type="email" name="email" placeholder="Email*" class="form-control" /></div>
<div class="form-group"><input type="password" name="password" placeholder="Password*" class="form-control" /></div>
<div class="form-group"><input type="password" name="password-repeat" placeholder="Confirm Password" class="form-control" /></div>
<div class="form-group"><button class="btn btn-primary btn-block" type="submit">Sign Up</button><a href="#" class="">You already have an account? Login here.</a></div>
    </form></div>
<div class="terms">By registering you agree to Kazilynk&#39;s terms of Service and Privacy Policy. You also agree to receive subsequent emails form Kazilynk which you may opt out of at any time</div>
</div>
                <div class="col-md-6">
                    <h1 class="edit">3 Reasons why Kazilynk does it better</h1>
                    <p class="p_black"><strong>We save you time and money and spare you the frustration</strong><br>We eliminate the hassle of placing numerous ads, reading dozens of <br>resumes and interviewing candidates who say they are qualified, but just<br> don't
                        make the cut.<br>----<br><strong>Kazilynk candidates are motivated to stay motivated&nbsp;</strong>Our rating system ensures that candidates you employ from Kazilynk stay on top of their game during their tenure with you.<br>----<br><strong>You only pay after a successful hire</strong><br>You
                        ONLY pay Kazilynk once you have hired candidates you are happy with</p>
                    <p class="pricing">VIEW OUR PRICING</p>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-dark" style="height:250px;padding:10px;">
        <p>Abouts Us | Contact us | Terms and Conditions | Privacy Policy | Pricing Policy</p>
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-youtube"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a>
                        <p class="copyright"
                            style="padding:0;"><br> © Copyright 2018 All Rights Reserved | Powered by KaziLynk Limited<br><br> Incase of issues you can contact <a href="maito:support@kazilynk.com">support@kazilynk.com</a><br></p>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>
{% endblock %}