{% extends 'base_r.html' %}
{% load staticfiles %}

{% block content %}
    <div id="inner-page">
        <div class="jumbotron inner">
            <h1>Get Top Employees in Kenya</h1>
            <p>You end up doing what you WANT to do as opposed to doing what you HAVE to do.</p>
            <p><a class="btn btn-primary" role="button" href="#">+254 777 777</a></p>
        </div>
    </div>
    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h1 class="edit">ALREADY HAVE AN ACCOUNT? LOGIN</h1><div>
    <form method="post">
<strong style="color:black">OR</strong>
<p style="color:black">REGISTER AS A JOB SEEKER FOR FREE</p>
<p style="color:black">Get matched with the job that callsfor your talents qualifications</p>
<div class="form-group"><input type="input" name="full_name" placeholder="Full Name*" class="form-control" /></div>
<div class="form-group"><input type="email" name="email" placeholder="Email*" class="form-control" /></div>
<div class="form-group"><input type="password" name="password" placeholder="Password*" class="form-control" /></div>
<div class="form-group"><input type="password" name="password-repeat" placeholder="Confirm Password" class="form-control" /></div>
<div class="form-group"><button class="btn btn-primary btn-block" type="submit">Sign Up</button><a href="#" class="">You already have an account? Login here.</a></div>
    </form></div>
<div class="terms">By registering you agree to Kazilynk&#39;s terms of Service and Privacy Policy. You also agree to receive subsequent emails form Kazilynk which you may opt out of at any time</div>
</div>
                <div class="col-md-6">
                    <h1 class="edit">3 Reasons why Kazilynk does it better</h1>
                    <p class="p_black"><strong>We don't waste your time or give false hope</strong><br>On Kazilynk, you don't apply for jobs you stand no chance of getting; neither do you send your CV into void in the hope that it will catch someone's attention. Once your
                        profile is on our database, you just sit back and let our technology do the match making.<br>----<br><strong>We give you a fair chance </strong>long as your profile is in our database, you will ALWAYS be considered for available
                        opportunities, if you are the right candidate for the opportunity, you will get a fair chance of getting the job you deserve, if you aren't the right fit, don't lose hope, the right opportunity will eventually come your way.<br>----<br><strong>You get what you ask for</strong><br>A
                        detailed, updated profile that honestly and accurately represents who you are will guarantee that you will only be connected with jobs that are a good fit for you. You end up doing what you WANT to do as opposed to doing what you
                        HAVE to do.</p>
                    <p class="pricing">VIEW OUR PRICING</p>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-dark" style="height:250px;padding:10px;">
        <p>Abouts Us | Contact us | Terms and Conditions | Privacy Policy | Pricing Policy</p>
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-youtube"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a>
                        <p class="copyright"
                            style="padding:0;"><br> © Copyright 2018 All Rights Reserved | Powered by KaziLynk Limited<br><br> Incase of issues you can contact <a href="maito:support@kazilynk.com">support@kazilynk.com</a><br></p>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</body>
</html>
{% endblock %}