{% extends 'base.html' %}

{% block title %}KaziLynk Registration Complete{% endblock %}

{% block content %}
	<div class="col-md-3 col-sm-2 hidden-xs "></div>
	<div class="col-md-6 col-sm-8 col-xs-12 register-div padding-bottom-default">
		<div class="inner-register light-blue-bg arima">
			<h1 class="text-center default light-grey-bg">Registration Complete</h1>
			<p class="text-center light-blue light-grey-bg padding-bottom-30">Please check your email for a confirmation link to complete the sign up process.</p>
		</div>
	</div>
{% endblock %}