{% extends 'base.html' %}

{% block title %}KaziLynk Registration Complete{% endblock %}

{% block extra_css %}
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.1/css/bootstrap-select.min.css">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker3.min.css">
	<link rel="stylesheet" href="/static/css/intlTelInput.css">
{% endblock %}

{% block extra_js %}
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.1/js/bootstrap-select.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
	<script type="text/javascript" src="/static/js/chosen.jquery.js"></script>
	<script type="text/javascript" src="/static/js/intlTelInput.js"></script>
	<script type="text/javascript" src="/static/js/utils.js"></script>
	<script type="text/javascript" src="/static/js/register-script.js?v=1.3"></script>
{% endblock %}


{% block content %}
<div class="quicksand">
	<div class="col-md-1 col-sm-2 hidden-xs"></div>
	<div class="col-md-10 col-sm-8 col-xs-12 register-div border-box margin-top-110">
		<div>
			{% if error %}
				<p class="error-message">{{ error }}</p>
			{% endif %}

			{% if redirect %}
				<script type="text/javascript">
					window.location.replace("/accounts/profile");
				</script>
			{% endif %}

			{% if job_seeker %}
			<div class="label-bottom">
			 <!--checks also if profile category is selected -->
				<span class="hidden user-id">{{ user_id }}</span>
				<span class="hidden verification-code">{{ verification_code }}</span>

				<div class="col-md-12 col-sm-12">
					<h1>Complete Registration</h1>
				</div>
				<label class="col-md-3 col-sm-3">First Name: *</label>
				<div class="col-md-6 col-sm-6">
					<input class="form-control" id="first_name" placeholder="">
					<p class="error-message empty_firstname hidden">Please Fill Out This Field</p>
				</div>
				<div class="col-md-12 col-sm-12"></div>

				<label class="col-md-3 col-sm-3">Last Name: *</label>
				<div class="col-md-6 col-sm-6">
					<input class="form-control" id="last_name" placeholder="">
					<p class="error-message empty_lastname hidden">Please Fill Out This Field</p>
				</div>
				<div class="col-md-12 col-sm-12"></div>

				<label class="col-md-3 col-sm-3">Country of Residence: *</label>
				<div class="col-md-6 col-sm-6">
					<select class="selectpicker float-bottom country-residence">
					  <option value="">----Select One----</option>
					  {% for co in countries %}
					  	<option value="{{ co.0 }}">{{ co.1 }}</option>
					  {% endfor %}
					</select>
					<p class="hidden error-message country-unselected">Please Select One</p>
				</div>
				<div class="col-md-12 col-sm-12"></div>

				<label class="col-md-3 col-sm-3 font-normal">How did you hear about KAZILYNK?</label>
				<div class="col-md-6 col-sm-6">
					<select class="selectpicker float-bottom full-width from-where">
					    <option value="">----Select One----</option>
					  	<option value="Google">Google</option>
					  	<option value="Friend">From a friend</option>
					  	<option value="Article">From an article or blog</option>
					  	<option value="Social Media">Social media</option>
					  	<option value="other" class="light-blue">Other</option>
					  	<textarea class="hidden form-control hear-us-textarea pad-10-10" placeholder="Please Specify"></textarea>
					</select>
				</div>
				<div class="col-md-12 col-sm-12"></div>
				<div class="col-md-8 col-sm-8">
					<button id="update_prof_submit" class="btn btn-default site-dark-blue-bg" type="submit">Update</button>
			    	<i class="fa fa-circle-o-notch fa-spin loading hidden" aria-hidden="true"></i>
			    	<p class="hidden error-message small-padding-left response-error">Sorry there seems to be an issue connecting to the server. Please try again later.</p>
			    	<p class="server-error-message hidden error-message"></p>
				</div>
			</div>
			{% elif employer %}
				<span class="hidden user-id">{{ user_id }}</span>
				<span class="hidden verification-code">{{ verification_code }}</span>

				<div class="col-md-12 col-sm-12">
					<h1>Company Details</h1>

					<label class="col-md-4 col-sm-4">Company Name: </label>
					<div class="col-md-6 col-sm-6">
						<input class="form-control company-name">
					</div>
					<div class="col-md-12 col-sm-12 job-seeker-content-spacing"></div>

					<label class="col-md-4 col-sm-4">Company Size: </label>
					<div class="col-md-6 col-sm-6">
						<select class="selectpicker company-size" title="Please Select One">
							<option></option>
							<option>1-5 employees</option>
							<option>6- 20 employees</option>
							<option>21-50 employees</option>
							<option>51-100 employees</option>
							<option>More than 100 Employees</option>

						</select>
						<p class="hidden error-message company-error job-seeker-content-spacing">Please Select One</p>
					</div>
					<div class="col-md-12 col-sm-12"></div>

					<div class="col-md-12 col-sm-12 text-center profile-btns-div">
						<a href="{% url 'application_questions' %}" class="btn btn-primary update">Next >></a>
					</div>

					<div class="col-sm-12 col-md-12">
						<div class="col-md-12 text-center">
							<i class="fa fa-circle-o-notch fa-spin loading hidden" aria-hidden="true"></i>
						</div>
						<p class="hidden error-message small-padding-left response-error">Sorry there seems to be an issue connecting to the server. Please try again later.</p>
				    	<p class="server-error-message hidden error-message"></p>
				    	<p class="hidden error-message missing-field">Please fill all fields specified in red</p>
				    	<p class="complete-message hidden soft-green">Update Complete</p>
					</div>

				</div>
			{% elif service_provider %}
				<div class="col-md-12 col-sm-12 col-xs-12">
					<h2 class="text-center dark-grey">Get customers for your business in 3 easy steps</h2>
					<div class="col-md-4 col-sm-4 col-xs-12 text-center dark-grey">
						<img src="/static/img/img.jpg" class="img-responsive center">
						<p>Complete your business profile below</p>
					</div>
					<div class="col-md-4 col-sm-4 col-xs-12 text-center dark-grey">
						<img src="/static/img/img3.jpg" class="img-responsive center">
						<p>Receive customer requests on email</p>
					</div>
					<div class="col-md-4 col-sm-4 col-xs-12 text-center dark-grey">
						<img src="/static/img/img2.jpg" class="img-responsive center">
						<p>Seal the deal</p>
					</div>
				</div>
				<div class="col-md-12 col-sm-12 col-xs-12 service-provider">
					<label class="col-md-4 col-sm-4 col-xs-12">Business/Company Name*</label>
					<div class="col-md-8 col-sm-8 col-xs-12 margin-bottom-20">
						<input class="form-control company-name" type="text">
					</div>

					<label class="col-md-4 col-sm-4 col-xs-12">Email address*</label>
					<div class="col-md-8 col-sm-8 col-xs-12 margin-bottom-20">
						<input class="form-control email" type="text">
					</div>

					<label class="col-md-4 col-sm-4 col-xs-12">Phone number*</label>
					<div class="col-md-8 col-sm-8 col-xs-12 margin-bottom-20">
						<input class="form-control phone-no" type="text">
					</div>

					<label class="col-md-4 col-sm-4 col-xs-12 font-normal">Company website or Facebook page URL</label>
					<div class="col-md-8 col-sm-8 col-xs-12">
						<input class="form-control company-website" type="text" placeholder="Copy and paste URL if applicable">
					</div>
					<div class="col-md-12 col-sm-12 col-xs-12 margin-bottom-20"></div>

					<label class="col-md-4 col-sm-4 col-xs-12 font-normal">Location</label>
					<div class="col-md-8 col-sm-8 col-xs-12">
						<select class="selectpicker float-bottom location" title="Please Select One">
						  	<option></option>
						  	{% for location in locations %}
						  		<option>{{ location.name }}</option>
						  	{% endfor %}
						</select>
					</div>
					<div class="col-md-12 col-sm-12 col-xs-12 margin-bottom-20"></div>

					<label class="col-md-4 col-sm-4 col-xs-12">What service do you provide*</label>
					<div class="col-md-8 col-sm-8 col-xs-12">
						<select class="selectpicker float-bottom service" title="Please Select One or choose Add a Service">
							<option></option>
							{% for service in services %}
								<option>{{ service.name }}</option>
							{% endfor %}
							<option class="add-service" class="light-blue">Add a Service</option>
						</select>
						<input class="hidden new-service form-control margin-top-20" placeholder="*Please add a new Service">
					</div>
					<div class="col-md-12 col-sm-12 col-xs-12 margin-bottom-20"></div>

					<label class="col-md-4 col-sm-4 col-xs-12">Business details*</label>
					<div class="col-md-8 col-sm-8 col-xs-12">
						<textarea class="form-control business-details textarea-height" placeholder="provide detailed information about the nature of your work"></textarea>
					</div>
					<div class="col-md-12 col-sm-12 col-xs-12 margin-bottom-20"></div>

					<label class="col-md-4 col-sm-4 col-xs-12 font-normal">Testimonials</label>
					<div class="col-md-8 col-sm-8 col-xs-12">
						<input class="form-control testimonial" placeholder="provide links to previous jobs done if applicable">
					</div>
					<div class="col-md-12 col-sm-12 col-xs-12 margin-bottom-20"></div>

					<label class="col-md-4 col-sm-4 col-xs-12">How much do you charge for this service*</label>
					<div class="col-md-8 col-sm-8 col-xs-12">
						<input class="form-control price" placeholder="Please be specific ex. 1000 shillings per hour">
					</div>
					<div class="col-md-12 col-sm-12 col-xs-12 margin-bottom-20"></div>

					<label class="col-md-4 col-sm-4 col-xs-12">Are your rates negotiable?</label>
					<div class="col-md-8 col-sm-8 col-xs-12">
						<div class="btn-group select-rates" data-toggle="buttons">
						  <label class="btn btn-primary">
						    <input type="radio" name="rates" value="yes" autocomplete="off"> Yes
						  </label>
						  <label class="btn btn-primary">
						    <input type="radio"  name="rates" value="no" autocomplete="off"> No
						  </label>
						</div>
						<p class="error-message hidden select-rate">Please select one option before you continue.</p>
					</div>
					<div class="col-md-12 col-sm-12 col-xs-12 margin-bottom-20"></div>

					<div class="col-md-12 col-sm-12 col-xs-12">
						<input class="form-control agree" type="checkbox" style="float: left; width: 20px; margin-right: 10px; margin-top: -5px;"> I agree to Kazilynk's <a href="#" class="orange-link">pricing policy</a>
						<p class="error-message hidden agree-terms">Agreeing to terms is necessary before you proceed.</p>
					</div>
					<div class="col-md-12 co-sm-12 col-xs-12 margin-top-20">
						<button class="btn btn-primary complete-service-provider">Complete</button>
						<i class="fa fa-circle-o-notch fa-spin loading hidden" aria-hidden="true"></i>
					</div>
					
				</div>
			{% elif not profile.category %}
				<div class="col-md-12 col-sm-12 text-center">
					<h2 class="padding-bottom-30">Please Select Category</h2>
					<p class="display-inline"><a class="btn btn-default site-light-blue-bg bold-white button-default register-category-button" href="#" role="button" value="Employer">Employer</a></p>
					<p class="display-inline spacing-buttons"><a class="btn btn-default site-dark-blue-bg bold-white button-default register-category-button" href="#" role="button" value="Job Seeker">Job Seeker</a></p>
					<p class="display-inline spacing-buttons"><a class="btn btn-default site-dark-blue-bg bold-white button-default register-category-button" href="#" role="button" value="Service Providers">Service Provider</a></p>
					<p class="display-inline spacing-buttons"><a class="btn btn-default site-dark-blue-bg bold-white button-default register-category-button" href="#" role="button" value="Service Seekers">Service Seeker</a></p>
				</div>
				<div class="col-sm-12 col-md-12">
					<i class="fa fa-circle-o-notch fa-spin loading hidden" aria-hidden="true"></i>
					<p class="hidden error-message small-padding-left response-error">Sorry there seems to be an issue connecting to the server. Please try again later.</p>
			    	<p class="server-error-message hidden error-message"></p>
				</div>
			{% endif %}
		</div>
	</div>
</div>
	
{% endblock %} 