{% extends 'accounts/profile.html' %}

{% block title %}KaziLynk Skills and Competencies{% endblock %}

{% block extra_css %}
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.1/css/bootstrap-select.min.css">
{% endblock %}

{% block extra_js %}
	<script type="text/javascript">
		window.skills = {{ skills_list|safe }};
		window.hard_skills = {{ hard_skills_list|safe }};
	</script>

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.1/js/bootstrap-select.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
	<script type="text/javascript" src="/static/js/skills-script.js?v=1.0"></script>
{% endblock %}

{% block content_box %}
<div class="quicksand col-md-12 col-xs-12 col-sm-12">
	<h3 class="bottom-border padding-bottom-10 margin-bottom-20">Skills and Competencies</h3>

	<label class="col-md-5 col-sm-3">Select up to 5 core skills that you possess: *</label>
	<div class="col-md-6 col-sm-6 margin-bottom-10">
		<span class="hidden skills-saved">{{ profile.skills_info }}</span>
		<select class="selectpicker skills job-seeker-content-spacing" multiple data-max-options="5" title="{{ profile.skills_info|default:'Choose up to 5 of the following...' }} {% if profile.skills %} ... ({{ profile.skills.all|length }}/5){% endif %}" state="{{ profile.skills_exist }}">
			<option></option>
			{% for skill in skills %}
				<option value="{{ skill.name }}">{{ skill.name }}</option>
			{% endfor %}
			<option value="new" class="light-blue">Add Skill</option>
		</select>

		<textarea class="form-control new-skill hidden job-seeker-content-spacing" placeholder="Please Specify"></textarea>
		<p class="error-message hidden skill-error">Please Select One</p>
	</div>
	<p class="light-blue col-md-12 pull-top small-text">Soft skills are personal attributes that enable someone to interact effectively and harmoniously with other people.</p>
	<div class="col-md-12 col-sm-12 job-seeker-content-spacing margin-bottom-20"></div>


	<label class="col-md-5 col-sm-3">Hard skills: *</label>
	<div class="col-md-6 col-sm-6">
	<select class="selectpicker hard-skills job-seeker-content-spacing" multiple data-max-options="{{ max_len }}" title="{{ profile.hard_skills_info|default:'Please Select Skills' }}" state="{{ profile.hard_skills_exist }}">
			<option></option>
			{% for skill in hard_skills %}
				<option>{{ skill.name }}</option>
			{% endfor %}
			<option value="new" class="light-blue">Add Skill</option>
		</select>

		<div class="job-seeker-content-spacing"></div>

		<textarea class="form-control new-hard-skill hidden job-seeker-content-spacing" placeholder="Please Specify"></textarea>
		<p class="error-message hidden hard-skill-error">Please Select One</p>
	</div>
	<p class="light-blue col-md-12 small-text pull-top">Hard skills are specific, teachable skills that can be defined and measured.</p>
	<div class="col-md-12 col-sm-12 job-seeker-content-spacing"></div>	


	<div class="col-md-12 col-sm-12 text-center profile-btns-div">
		{% if prev %}<a href="{{ prev }}" class="btn btn-default profile-update-btns"><< Prev</a>{% endif %}
		<a class="btn btn-primary update" href="#">Update</a>
		{% if next %}<a href="{{ next }}" class="btn btn-default update profile-update-btns" state="next">Next >></a>{% endif %}
	</div>

	<div class="col-sm-12 col-md-12">
		<div class="col-md-12 text-center">
			<i class="fa fa-circle-o-notch fa-spin loading hidden" aria-hidden="true"></i>
		</div>
		<p class="hidden error-message small-padding-left response-error">Sorry there seems to be an issue connecting to the server. Please try again later.</p>
		<p class="hidden error-message small-padding-left response-message"></p>
    	<p class="server-error-message hidden error-message"></p>
    	<p class="complete-message hidden soft-green">Update Complete</p>
	</div>
</div>
{% endblock %}