<p>Dear {{ first_name }}</p>
<p>Thank you for uploading your profile on Kazilynk. You are now part of a network of professionals who employers in Kenya are on the lookout for. Once the right opportunity that matches your qualifications and skills comes up, we will match you with the right employer and inform you accordingly.</p>

<p>Your privacy is important to us and we will not share your details with anyone who is not a potential employer requesting to interview you.</p>
<p>You can view and edit your profile by <a href="https://kazilynk.com{% url 'profile_page' %}">clicking here</a> or logging into your Kazilynk account at any time.</p>

<p>All the best from The Kazilynk Team.</p>


<p>I will work on automated email for employers as well as service providers separately</p>