<p><span style="font-weight: bold;">Company Name: </span>{{ service.company_name }}</p>

{% if service.email %}
<p><span style="font-weight: bold;">Email: </span>{{ service.email }}</p>
{% endif %}

{% if service.phone %}
<p><span style="font-weight: bold;">Phone: </span>{{ service.phone }}</p>
{% endif %}

{% if service.company_website %}
<p><span style="font-weight: bold;">Website: </span>{{ service.company_website }}</p>
{% endif %}

{% if service.location %}
	<p><span style="font-weight: bold;">Location: </span>{{ service.location }}</p>
{% endif %}

{% if service.testimonial %}
	<p><span style="font-weight: bold;">Testimonial: </span>{{ service.testimonial }}</p>
{% endif %}

{% if service.business_details %}
	<p><span style="font-weight: bold;">Business Details: </span>{{ service.business_details }}</p>
{% endif %}

{% if service.links.all %}
	<ul>
		{% for link in service.links.all %}
			{% if link.active %}
				<li><a href="{{ link.link }}">{{ link.link }}</a></li>
			{% endif %}
		{% endfor %}
	</ul>
{% endif %}

<p><span style="font-weight: bold;">Price: </span>{{ service.price }}</p>
<p><span style="font-weight: bold;">Negotiable: </span>{{ service.negotiable_text }}</p>

{% if service.prices.all %}
	<p><span style="font-weight: bold;">More Prices: </span></p>
	<ul>
		{% for price in service.prices.all %}
			<li>{{ price.name }}</li>
		{% endfor %}
	</ul>
{% endif %}